.promotion {
    background: linear-gradient(to bottom,
            rgba(40, 43, 41, 0.9) 80%,
            rgba(40, 43, 41, 0.9) 90%,
            #1F2120D1 100%),
        url("@assets/promotion.png") center/cover no-repeat;

    padding: 20px;
    border-radius: var(--radius-2xl);
}