.server__main {
    background:
        linear-gradient(to bottom,
            transparent 0%,
            transparent 20%,
            /* Image visible until here */
            rgba(31, 33, 32, 0.9) 80%,
            /* Gradient transition starts */
            rgba(31, 33, 32, 0.9) 100%
            /* Solid color at bottom */
        ),
        url("@assets/serverPage/serverBg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
}

.server__head {
    grid-area: hd;
}

.server__side {
    grid-area: sd;
}

.server__content {
    grid-area: main;
}

.server__wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
        "hd hd hd hd hd hd hd sd sd"
        "main main main main main main main sd sd"
}