.footer {
    background: linear-gradient(to bottom,
            rgba(31, 33, 32, 0.9) 80%,
            rgba(31, 33, 32, 0.9) 90%,
            #1F2120D1 100%),
        url("@assets/hero/hero.png") center/cover no-repeat
}