@import "tailwindcss";

@theme {
    --color-black-transparent: rgba(0, 0, 0, 0.5);
    --color-white-light-text: rgba(255, 255, 255, 0.7);
    --color-white-light: rgba(255, 255, 255, 0.15);
    --color-modal: rgba(255, 255, 255, 0.1);
    --color-green-transparent: rgba(145, 255, 169, 0.25);
    --color-blue-transparent: rgba(0, 89, 255, 0.25);
    --color-orange-transparent: rgba(255, 128, 0, 0.25);
    --color-gray-transparent: rgba(255, 255, 255, 0.05);
    --color-gray-transparent-dark: rgba(140, 140, 140, 0.05);
    --color-gray-main: rgba(255, 255, 255, 0.6);
    --color-modal-bg: rgba(19, 20, 19, 0.85);
    --color-green-transparent: rgba(145, 255, 169, 0.75);
    --color-green-transparent-dark: rgba(36, 115, 57, 0.75);
    --color-yellow-transparent: rgba(255, 234, 0, 0.1);
}

@layer components {
    ::-webkit-scrollbar {
        width: 0;
    }

    html {
        scroll-behavior: smooth;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .modal__cancel {
        position: relative;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .modal__cancel::after {
        content: '';
        position: absolute;
        padding: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: all .4s;
    }

    .modal__cancel:hover::after {
        background: var(--color-gray-main);
        transition: all .4s;
    }

    .container-response {
        max-width: 100%;
        padding: 16px;
        margin: 0 auto;
    }

    @media screen and (min-width: 1024px) {
        .container-response {
            max-width: 1720px;
        }
    }
}