@import "tailwindcss";

@theme {
    --color-black-transparent: rgba(0, 0, 0, 0.5);
    --color-white-light-text: rgba(255, 255, 255, 0.7);
    --color-white-light: rgba(255, 255, 255, 0.15);
    --color-modal: rgba(255, 255, 255, 0.1);
    --color-green-transparent: rgba(145, 255, 169, 0.25);
    --color-blue-transparent: rgba(0, 89, 255, 0.25);
    --color-orange-transparent: rgba(255, 128, 0, 0.25);
    --color-gray-transparent: rgba(255, 255, 255, 0.05);
    --color-gray-main: rgba(255, 255, 255, 1);
}

@layer components {
    html {
        scroll-behavior: smooth;
    }
}