@import "tailwindcss";

@theme {
    --color-black-transparent: rgba(0, 0, 0, 0.5);
    --color-white-light: rgba(255, 255, 255, 0.7)
}

@layer components {
    html {
        scroll-behavior: smooth;
    }
}