@import "tailwindcss";

@theme {
    --color-black-transparent: rgba(0, 0, 0, 0.5);
    --color-white-light-text: rgba(255, 255, 255, 0.7);
    --color-white-light: rgba(255, 255, 255, 0.15);
    --color-modal: rgba(255, 255, 255, 0.1)
}

@layer components {
    html {
        scroll-behavior: smooth;
    }
}